p {
  font-size: 18px;
  opacity: 0.7;
  text-align: center;
  font-family: monospace;
}

button {
  display: block;
  margin: 20px auto;
  border: 1px solid #1a64d6;
  background: #a11ad6;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  padding: 16px 24px;
  border-radius: 30px;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
}

button:hover {
  background: white;
  color: #1a64d6;
  border: 1px solid #1a64d6;
}
p {
  text-align: center;
}
img {
  display: block;
  margin: 80px auto;
  width: 850px;
}
body {
  background: #d4aaca;
}
h1 {
  color: #4f15e2;
  text-align: center;
  font-size: 50px;
  font-weight: 100;
  text-decoration: underline;
}
h2 {
  color: #1e4e46;
  text-align: center;
  font-weight: normal;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background-color: rgb(243, 146, 214);
}
